.snakemake
*h5ad
*png
*svg
*gz
!tests/fixtures/inputs/metadata/*.gz
!tests/fixtures/inputs/cell_counts/*.gz
*html
.ipynb_checkpoints
.DS_Store
__pycache__
/outputs
/inputs/source_*
*plotly
*csv
*npz
*pkl
*pickle
*log
.venv
.devenv
*pdf
