.snakemake
*h5ad
*png
*svg
*gz
inputs/profiles*
!inputs/metadata/*.gz
!tests/fixtures/inputs/cell_counts/*.gz
*html
.ipynb_checkpoints
.DS_Store
__pycache__
/outputs
/benchmarks
/inputs/source_*
*plotly
*csv
!inputs/metadata/*.csv
*npz
*pkl
*pickle
*log
.venv
.devenv
*pdf
.coverage.*
*.egg-info
.vscode/settings.json
